.ecsetting-demo-order {
  background: #fff;
  .fix {
    *zoom: 1;
  }
  .fix:after {
    display: table;
    content: '';
    clear: both;
  }
  .ell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .order-search {
    padding: 8px 12px;
    border-bottom: 1px solid #EDF0F7;
    .el-input.is-active .el-input__inner,.el-input__inner:focus {
      border-color:#409eff;
      outline: 0
    }
    .el-input__inner {
      height: 32px;
      line-height: 32px;
    }
    .el-input__icon {
      line-height: 32px;
    }
  }
  .order-goods {
    padding: 8px 12px;
    border-bottom: 1px solid #EDF0F7;
    overflow: auto;
    .status {
      color: #262D3D;
      font-size: 13px;
      font-weight: 500;
    }
    .goods {
      margin-top: 5px;
      .goods-img {
        float: left;
        > img {
          margin-right: 4px;
          float: left;
          width: 56px;
          height: 56px;
          border-radius: 3px;
        }
      }
      .info {
        float: left;
        margin-left: 8px;
        font-size: 12px;
        width: calc(100vw - 200px);
        .title {
          margin: 4px 0 14px 0;
          color: #262D3D;
        }
        .color {
          color: #A1ABC2;
        }
      }
      .price {
        float: right;
        .money {
          margin: 4px 0 14px 0;
          text-align: right;
          font-size: 15px;
          font-weight: 500;
          color: #F75559;
        }
        .operation {
          font-size: 12px;
          color: #A1ABC2;
          display: flex;
          display: -webkit-flex;
          display: -ms-flex;
          img {
            margin-left: 10px;
            width: 32px;
            height: 20px;
          }
        }
      }
    }
    &:hover{
      background-color: #EDF0F7;

    }

  }
  .loading {
    text-align: center;
    color: #A1ABC2;
    font-size: 12px;
  }
}
